wsh(or_i(and_v(v:pkh(@0/48'/0'/0'/2'/<0;1>/*),older(100)),or_i(and_v(v:pkh(@1/48'/0'/1'/2'/<0;1>/*),older(101)),or_i(and_v(v:pkh(@2/48'/0'/2'/2'/<0;1>/*),older(102)),or_i(and_v(v:pkh(@3/48'/0'/3'/2'/<0;1>/*),older(103)),or_i(and_v(v:pkh(@4/48'/0'/4'/2'/<0;1>/*),older(104)),or_i(and_v(v:pkh(@5/48'/0'/5'/2'/<0;1>/*),older(105)),or_i(and_v(v:pkh(@6/48'/0'/6'/2'/<0;1>/*),older(106)),and_v(v:pkh(@7/48'/0'/7'/2'/<0;1>/*),older(107))))))))))
