tr(@0/48'/0'/0'/3'/<0;1>/*,{and_v(v:pk(@1/48'/0'/1'/3'/<0;1>/*),older(101)),{and_v(v:pk(@2/48'/0'/2'/3'/<0;1>/*),older(102)),{and_v(v:pk(@3/48'/0'/3'/3'/<0;1>/*),older(103)),{and_v(v:pk(@4/48'/0'/4'/3'/<0;1>/*),older(104)),{and_v(v:pk(@5/48'/0'/5'/3'/<0;1>/*),older(105)),{and_v(v:pk(@6/48'/0'/6'/3'/<0;1>/*),older(106)),and_v(v:pk(@7/48'/0'/7'/3'/<0;1>/*),older(107))}}}}}})
